# DataFrame

1) Carga de imágenes

2) División entre train y test

In [1]:
%matplotlib inline

import os
from astropy.io import fits 
import pandas as pd
import random
import numpy as np

In [2]:
random.seed(10)

**Ejemplo de un hdu**

In [3]:
data_H = fits.open('/home/vanessa/Escritorio/Doctorado/VVVx/galaxies_d115/d115_0001.fits')[0]
print('dimensiones', data_H.data.shape)
print('Header', data_H.header)

dimensiones (44, 44)
Header (44, 44)

## DataFrame GXs

In [4]:
GX = os.listdir('/home/vanessa/Escritorio/Doctorado/VVVx/galaxies_d115/')

all_gx = []

for archive in GX:
    
    data_H = fits.open('/home/vanessa/Escritorio/Doctorado/VVVx/galaxies_d115/'+str(archive))[0].data
    data_J = fits.open('/home/vanessa/Escritorio/Doctorado/VVVx/galaxies_d115/'+str(archive))[1].data
    data_Ks = fits.open('/home/vanessa/Escritorio/Doctorado/VVVx/galaxies_d115/'+str(archive))[2].data
    
    # Cada Ima como matrix por si hace falta
    M_gx =  np.zeros((44,44,3))
    M_gx[:,:,0] =  data_H
    M_gx[:,:,1] =  data_J
    M_gx[:,:,2] =  data_Ks
    

    # Cada Ima como un vector de dim 5808
    gx = np.reshape(M_gx,[5808])
    all_gx.append(gx)
    
    # Dataset de gx como DataFrame  
    df_gx = pd.DataFrame(all_gx)
    
target = np.zeros(df_gx.shape[0])
df_gx['Target'] = target

## DataFrame Other objects

In [5]:
other_obj = os.listdir('/home/vanessa/Escritorio/Doctorado/VVVx/other_objects_d115')

all_oo = []

for archive in GX:
    
    data_H = fits.open('/home/vanessa/Escritorio/Doctorado/VVVx/galaxies_d115/'+str(archive))[0].data
    data_J = fits.open('/home/vanessa/Escritorio/Doctorado/VVVx/galaxies_d115/'+str(archive))[1].data
    data_Ks = fits.open('/home/vanessa/Escritorio/Doctorado/VVVx/galaxies_d115/'+str(archive))[2].data
    
    # Cada Ima como matrix por si hace falta
    M_oo =  np.zeros((44,44,3))
    M_oo[:,:,0] =  data_H
    M_oo[:,:,1] =  data_J
    M_oo[:,:,2] =  data_Ks
    

    # Cada Ima como un vector de dim 5808
    oo = np.reshape(M_oo,[5808])
    all_oo.append(oo)
    
    # Dataset de gx como DataFrame  
    df_oo = pd.DataFrame(all_oo)
    
target = np.ones(df_oo.shape[0])
df_oo['Target'] = target

In [10]:
df_row = pd.concat([df_gx, df_oo])
display(df_row.head(2))
display(df_row.tail(2))
df_row.shape

,0,1,2,3,4,5,6,7,8,9,...,5799,5800,5801,5802,5803,5804,5805,5806,5807,Target
0,1859.75,13150.25,12020.75,1780.25,13096.75,12031.75,1763.5,13061.25,12051.75,1746.25,...,1685.00,12979.75,12003.25,1670.75,12995.5,12008.75,1668.5,12979.25,11945.00,0.0
1,1668.75,12991.25,11976.00,1661.75,13003.25,11975.75,1659.5,12995.00,11992.75,1668.75,...,1669.75,12979.00,11983.75,1684.00,13017.0,11990.00,1695.0,13010.25,11984.25,0.0

,0,1,2,3,4,5,6,7,8,9,...,5799,5800,5801,5802,5803,5804,5805,5806,5807,Target
143,1720.75,13118.75,12054.75,1713.75,13104.00,12063.00,1708.75,13071.50,12064.5,1704.50,...,1685.25,13049.0,12020.75,1703.50,13040.25,12030.25,1712.75,13060.25,12044.75,1.0
144,1673.50,13034.00,12011.50,1677.50,13040.25,12008.25,1680.50,13029.25,12000.5,1681.75,...,1924.50,13819.0,12438.75,1769.25,13281.25,12161.25,1705.50,13073.75,12055.25,1.0

(290, 5809)

In [12]:
df_row.to_csv('/home/vanessa/Escritorio/Doctorado/VVVx/d115_sample.csv')